{
    "mqtt_server": "mqtt.server.com",
    "mqtt_user": "user",
    "mqtt_pass": "password",
    "mqtt_port": 1883,
    "mqtt_topic1": "light/MasterBedroom/Lamp",
    "mqtt_topic2": "light/MasterBedroom/Ceiling2"
  }